<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="about-box">
        <div class="about-info">
            <h2 class="about-title">About Us</h2>
            <div class="about-info-text">
                <p class="about-text">Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of
                timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable
                and stylish accessory on your wrist.</p>
                <p class="about-text">At our premium watch collection, we believe that a watch is more than just a timekeeping device - it's a statement piece
                that reflects your personality and style. So why settle for anything less than the best?</p>
            </div>
            <button class="about-btn">View catalog</button>
        </div>
        <div class="about-imag">
            <svg class="about-rectangle" width="335" height="446">
              <use href="../src/img/about-us/Rectangle-12-mobile-1x.jpg"></use>
            </svg>
        </div>
    </section>
</body>
</html>