<section class="contact-us container">
    <h2 class="contact-us-h">Contact Us</h2>
    <div class="div-form">
        <div class="inside-div">
            <p class="p-form">Please use the form below to contact us. Enter your name, email, phone, and message and
                we'll get back to you shortly.</p>
            <form class="form">
                <label class="label-form visually-hidden" for="name">Name</label>
                <div class="input-dive">
                    <input class="input-form" id="name" type="text" name="user-name" required>
                    <label for="name" class="p">Name</label>
                </div>
        </div>
        </form>
    </div>
</section>