<header class="header"></header>
      <div class="header-container">
        <nav class="nav-menu"></nav>
        <a class="logo" href="./index.html">watchcharm</a>
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-menu-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-menu-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-menu-link" href="#">Catalog</a>
            </li>
            <li class="nav-item">
              <a class="nav-menu-link" href="#">Sale</a>
            </li>
            <li class="nav-item">
              <a class="nav-menu-link" href="#">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-menu-link" href="#">Contact Us</a>
            </li>
          </ul>
        </nav>
        <ul class="soc-list">
          <li class="soc-item">
            <a class="soc-link" href=""><img src="" width="20" height="20" 
            /></a>
          </li>
          <li class="soc-item">
            <a class="soc-link" href=""
              ><img src="" width="20" height="20"
            /></a>
          </li>
          <li class="soc-item">
            <a class="soc-link" href=""><img src="" width="20" height="20" 
            /></a>
          </li>
        </ul>
        <button class="burger-btn" type="button">
          <svg class="burger-icon" width="40" height="40">
            <use href=""></use>
          </svg>
        </button>
      </div>
    </header>