<!-- #region section hero -->
<section class="section hero-section">
  <div class="container">
    <h1 class="hero-title">
      Welcome to our <span class="hero-title-span">collection</span> of premium
      watches
    </h1>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <a class="down-link" href="#footer">Scroll down</a>
  </div>
  <div class="container-hero-image-absolute">

  </div>

  <div class="container-hero-image">
    <picture>
      <source
        media="(min-widht:1280px)"
        srcset="
          ../img/hero/Rectangle-10-desktop-1x.jpg 1x,
          ../img/hero/Rectangle-10-desktop-2x.jpg 2x
        "
      />
      <source
        media="(min-widht:768px)"
        srcset="
          ../img/hero/Rectangle-10-tablet-1x.jpg 1x,
          ../img/hero/Rectangle-10-tablet-2x.jpg 2x
        "
      />
      <source
        media="(max-widht:767px)"
        srcset="
          ../img/hero/Rectangle-10-mobile-1x.jpg 1x,
          ../img/hero/Rectangle-10-mobile-2x.jpg 2x
        "
      />
      <img
        src="../img/hero/Rectangle-10-desktop-1x.jpg"
        alt="Watches"
        width="1150px"
      />
    </picture>
  </div>
</section>
<!-- #endregion section hero -->
