.header {}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c;

}
.header-logo {
    display: block;
    padding: 7,5px 0;
}

.nav-menu {}

.nav-list {
    display: none;
}

.nav-item {}

.nav-item:hover,
.nav-item:focus {}

.nav-menu-link {}

.nav-item:hover .nav-menu-link,
.nav-item:focus .nav-menu-link {}

.soc-list {
    display: none;
}

.soc-item {}

.soc-link {}
.soc-icon {}

.soc-link:hover,
.soc-link:focus {}

.burger-btn {}

.burger-icon {}

@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1280px) {}