/* container for 375 */

.reviews-container {
    min-width: 375px;
    margin: 0 20px;
    /* padding: 20px 0; */
}

/* styles for the section title named 'reviews' */

.reviews-section-title {
font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 24px;
margin-left: 20px;
}

/* styles for the whole ul */

.reviews-list {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto; /* horizontal swiper */
}

/* hiding the overflow (scroll is not visible */

.reviews-list::-webkit-scrollbar {
    display: none;
}

/* styles for the single item in the list */

.reviews-list-item {
background-color: #f3f3f3;
border-radius: 30px;
padding: 32px 36px;
min-width: 335px;
height: 262px;
margin: 0 20px 60px 0;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
}

/* styles for the reviews image */

.review-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

/* styles for h3 (names John Wax, Victoria Romashenko, Anastasia Trachuk) */

.reviews-names {
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
text-align: center;
color: #0c0c0c;
margin-bottom: 8px;
}

/* styles for the review text */

.reviews-text {
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
text-align: center;
color: rgba(12, 12, 12, 0.4);
text-align: center;
display: flex;
}

@media screen and (min-width: 768px) {

    .reviews-container {
    max-width: 768px;
    margin-left: 32px;
    margin-right: 32px;
    }

    .reviews-section-title {
    font-size: 48px;
    line-height: 0.91667;
    margin-left: 32px;
    margin-bottom: 40px;
    }

    .reviews-list {
        width: 704px;
        margin-left: auto;
        margin-right: auto;

}
}
@media screen and (min-width: 1280px) {
    .reviews-container {
    max-width: 1280px;
    }

    .reviews-section-title {
    margin-left: 65px;
    }

    .reviews-list {
    width: 1150px;
    margin-left: 65px;
    margin-right: 65px;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content: center;
    }
}